<form method="post" class="form-signin">
    <h2 class="form-signin-heading text-center">Login</h2>
    <br>
    <input type="email" class="form-control" name="email" placeholder="Email" require="" autofocus="">
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password" require="" >
    <br>

    <button class="btn btn-lg btn-primary btn-block">Sign In</button>

    <br>
    <!--<h4 class="text-center">Or</h4>-->
    <br>
    <!--<a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Sign In With Facebook</a>-->


</form>