<form method="post" class="form-signin">
    <h2 class="form-signin-heading text-center">New Account</h2>
    <br>
    <input type="text" class="form-control" name="name" placeholder="Name" require="" autofocus="">
    <br>
    <input type="email" class="form-control" name="email" placeholder="Email" require="" autofocus="">
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password" require="" >
    <br>
    <input type="password" class="form-control" name="password" placeholder="Confirm Password" require="" >
    <br>
    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>

</form>