<div>
    <div class="row">
        <div class="col-md-8">
            <textarea id="code-screen">{{content}}</textarea>
        </div>
        <div class="col-md-4" id="chatbox">

            <div class="panel panel-primary">

                <div id="video-container">
                    <video autoplay id="second-video"></video>
                    <video autoplay id="my-video" muted="true"></video>
                    <div id="step2">
                        <p>Your ID: <span id="my-id">...</span></p>
                        <div class="form-inline">
                            <input type="text" class="form-control" placeholder="Cal User Id ..." id="callto-id">
                            <a href="" class="btn btn-sm btn-success" id="make-call">Call</a>
                        </div>
                    </div>

                    <div id="step3">
                        <p>Talk To <span id="second-id">...</span>
                            <a href="#" id="end-call" class="btn btn-sm btn-danger">End Call</a>
                        </p>
                    </div>
                </div>



                <div class="panel-heading">
                    CHAT ROOM
                    <span class="pull-right" id="chatbox-username">
                        {{#if user}}
                            {{user.name}}
                        {{/if}}
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="media-list" style="height: 64px;overflow-y: scroll" id="chatbox-listMessages">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message...." id="userMessage">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="sendMessage()">Send</button>
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<input type="hidden" value="{{roomID}}" id="roomID">

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js"></script>

<script src="/plugins/ot/ot.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script>

    var EditorClient = ot.EditorClient;
    var SocketIOAdapter = ot.SocketIOAdapter;
    var CodeMirrorAdapter = ot.CodeMirrorAdapter;

    var socket = io.connect('http://localhost:8000/');


    var editor = CodeMirror.fromTextArea(document.getElementById("code-screen"), {
        lineNumbers: true,
        theme: "monokai"
    });

    var code =$('#code-screen').val();


    var cmClient;
    function init(str, revision, clients, serverAdapter) {
        if(!code) {
            editor.setValue(str);
        }

        cmClient = window.cmClient = new EditorClient(revision, clients, serverAdapter, new CodeMirrorAdapter(editor))
    }

    socket.on('doc', function (obj) {
        init(obj.str, obj.revision, obj.clients, new SocketIOAdapter(socket));
    });

    var username = $("#chatbox-username").val();
    if (username === '') {
        var userId = Math.floor(Math.random()* 9999).toString();
        username = "User"+userId;
        $("#chatbox-username").text(username);
    }

    var roomID = $('#roomID').val();
    socket.emit('joinRoom',  {room: roomID, username: username});

    var userMessage = function (name, text) {
        return ('<li class="media" ><div class="media-body"> <div class="media">'
            + '<div class="media-body">' + '<b>' + name + '</b> : ' + text + '<hr/> </div></div></div> </li>'
        );
    };
    
    var sendMessage = function () {
        var userMessage = $('#userMessage').val();
        socket.emit('chatMessage', {message: userMessage, username: username});
        $('#userMessage').val("");
    };

    socket.on('chatMessage', function (data) {
        $('#chatbox-listMessages').append(userMessage(data.username, data.message));
    })
</script>