body {
  min-height: 2000px;
  padding-top: 70px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.CodeMirror {
  height: 600px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#my-video {
    margin-top: 15px;
    width: 280px;
    height: auto;
    background-color: #eee;
}

#second-video {
    width: 100%;
    height: 75%;
    max-height: 480px;
    background-color: #eee;
}

#video-container {
    text-align: center;
}

#step1-error, #step2, #step3 {
    display: none;
}

#my-id {
    font-weight: bold;
}
